.idea
**/.idea/
.gradle
.gradletasknamecache
build
out
kotlin/build
kotlin/out
kts/build
kts/out
/kotlin/src/main/kotlin/Sandbox.kt
/kts/src/main/kotlin/sandbox.sh.kts
/kts/src/main/resources/res/
/.idea/
